.container{
    background: #fafafa;
    margin-top: 25px;
    padding: 15px;
}

#form, #input{
    width: 100%;
}

#form{
    display: inherit;
}

header, h1, span{
    margin: auto;
    text-align: center;
}

.list-group{
    overflow-y: auto;
    height: 60vh;
}
